.proj-img {
  width: 300px;
  height: auto;
  border: 2px solid lightgrey;
  border-radius: 6px;
}

.github-img {
  width: 24px;
  height: auto;
}

#main-img {
  width: 500px;
  height: auto;
}

.gallery-img {
  width: 300px;
}

.proj-img:hover {
  border: 7px solid #FA8072;
}
