.proj-img {
  width: 300px;
  height: auto;
  border: 2px solid lightgrey;
  border-radius: 6px;
}

.github-img {
  width: 24px;
  height: auto;
  opacity: 50%;
}

#main-img {
  width: 500px;
  height: auto;
}

.gallery-img {
  width: 100px;
  height: auto;
  border-radius: 6px;
  border: 0px solid white;
}

/*.proj-img:hover {
  border: 2px solid #FA8072;
}*/

.welcome h2:hover {
  text-decoration: line-through;
  color: #FA8072;
}

.welcome {
  width: 270px;
  height: auto;
}
