
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.heading-group-h1 {
  max-width: 80%;
}

#filters select {
  width: 90%;
  margin: .2em 5%;
}

@media only screen and (min-width: 640px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }

  #filters select {
    width: 15em;
    margin: .2em .2em;
  }

  #filters li {
    width: 20em;
    display: inline;
  }
}

form {
  margin-bottom: 40px;
  font-size: 16px;
}

.form {
  margin-bottom: 8px;
}

#name, #email, #message {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgrey;
  border-radius: 6px;

}

#message:hover, #name:hover, #email:hover {
  background-color: #EEE5DE;
  color: black;
}

button {
  background-color: #FA8072;
  width: 100px;
  font-family: 'Open Sans Condensed';
  height: 50px;
  color: white;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 6px;
}

button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.welcome {
  width: 150px;
  height: 50px;
  /*background-color: green;*/
  /*float: left;*/
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: darkgrey;
  text-align: center;
  border-radius: 6px;
}

#home {
  margin-left: 20px;
  margin-right: auto;
}

#footer {
  height: 50px;
  margin-top: 27px;
  margin-bottom: 0px;
}

.educ-layout {
  width: 300px;;
  height: 150px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 5px;
  padding-bottom: 0;
  padding-top: 0px;
}

.educ-layout h3 {
    padding-top: 0px;
}

.last {
  margin-bottom: 20px;
}
